body {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}
/*header begin*/
.header {
  background-image: linear-gradient(
    to right,
    rgb(27, 27, 27) 25%,
    rgb(9, 9, 9) 75%
  );
  background-repeat: no-repeat;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}
.navBarContainer {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}
.logo p {
  margin: 2rem 6rem;
  padding: 0.5rem 0.5rem;
  font-size: 3rem;
  background-color: transparent;
  border: solid 2px rgb(1, 160, 252);
  color: rgb(1, 160, 252);
}

.navBar {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 3rem;
  margin-top: 3rem;
}
.navBar a {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;

  padding: 1rem 2rem;
}
.navBar a:hover {
  color: rgb(1, 160, 252);
  text-decoration: underline;
}
.presentation {
  margin-left: 6rem;
}
.Iam {
  font-size: 4rem;
  margin-bottom: -2rem;
  margin-top: 8rem;
  color: #505050;
  letter-spacing: 0.7rem;
}
.web {
  margin: -2rem 0rem;
  font-size: 5rem;
  color: white;
}
.web span {
  color: rgb(1, 160, 252);
}
.web br {
  display: block;
  margin: -20px;
}
.btnContact {
  margin-top: 3rem;
  font-size: 1rem;
  background-color: rgb(1, 160, 252);
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  padding: 0.4rem;
  border-radius: 2px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1rem;
}
.btnContact:hover {
  color: #505050;
  font-weight: 600;
}
/*end of Header*/

/*about ME begin*/
.aboutMe {
  background: rgb(19, 19, 19);
  color: white;
}
.aboutMe h1 {
  margin-top: 0px;
  padding-top: 3rem;
  text-align: center;
  color: rgb(1, 160, 252);
  font-size: 3rem;
  letter-spacing: 0.3rem;
}
.aboutContent {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*border: yellow solid 1px;*/
  align-items: center;
}
.aboutContent p {
  letter-spacing: 0.1rem;
  font-weight: 100;
  font-size: 1.1rem;
  width: 60%;
  margin: 1rem;
}
.aboutContent p span {
  color: rgb(1, 160, 252);
}
.info {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}
.info i {
  color: rgb(1, 160, 252);
  font-size: 2rem;
}
.info p {
  font-size: 2rem;
  margin: 2rem;
}
/*about Me EEND*/

/*project section begin*/
.projectSection {
  background-image: linear-gradient(
    to right,
    rgb(27, 27, 27) 25%,
    rgb(9, 9, 9) 75%
  );
}
.projectTitle {
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  color: rgb(1, 160, 252);
  padding-top: 3rem;
  font-size: 3rem;
  letter-spacing: 0.3rem;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project {
  color: white;
  border: rgb(1, 160, 252) solid 2px;
  border-radius: 20px;
  margin: 2rem;
  width: 33%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project img {
  width: 90%;
  height: 80%;
  border: rgb(1, 160, 252) solid 2px;
  border-radius: 20px;
  margin: 1rem;
}
.projectName {
  font-size: 2rem;
}

/*project section end */
